<!DOCTYPE html>
<html lang = 'en'>
<head>
  <meta charset="UTF-8">
  <title>Blood Donation</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/style.css"
</head>
<body>


<%- defineContent('hero') %>

<main>
  <div class="container">
    <%- body %>
  </div>
</main>


  <footer>
    Copyright &copy; 2018
  </footer>
</body>
</html>
