<%- contentFor('hero') %>
<section class="hero">
    <div class="hero-content">

      <br/>
      <br>
      <a href="/donate" class="btn btn-lg btn-primary">Donate Blood</a></t>
      <a href="/need" class="btn btn-lg btn-primary">Need Blood</a>
      <br>
      <br>
      <br>
      <a href="/contact" class="btn btn-lg btn-primary">Contact us</a>

    </div>

</section>


<%- contentFor('body') %>
<div class="jumbotron text-center">
    Home Page
</div>
